# ansible managed

WEBPASSWORD=bffaab6b0d0104df542f82054d397d5bc1b36172550eeffea79156676c63708f
PIHOLE_INTERFACE={{ network_interface }}
IPV4_ADDRESS={{ ipv4_address }}/24
IPV6_ADDRESS={{ ipv6_adress | default('') }}
BLOCKINGMODE=NULL
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
PIHOLE_DNS_1={{ dns_server }}
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=true
TEMPERATUREUNIT=C
WEBUIBOXEDLAYOUT=traditional
API_EXCLUDE_DOMAINS=
API_EXCLUDE_CLIENTS=
API_QUERY_LOG_SHOW=all
API_PRIVACY_MODE=false
LIGHTTPD_ENABLED=true
BLOCKING_ENABLED=true
