hostname
clientid
persistent
option rapid_commit
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
option ntp_servers
option interface_mtu
require dhcp_server_identifier
slaac private
interface {{ network_interface }}
    static ip_adress={{ ipv4_address }}/24
    static routers={{ gateway_ip }}
    static domain_name_servers=127.0.0.1

